* {
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}

html {
    font-size: .9rem;
}

body {
    background-color: #F8E9DD;
}

#container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
}

#myBalanceSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #EC755D;
    width: 343px;
    border-radius: 1em;
    padding: 1em 1.5em;
}

h1 {
    font-size: 0.8em;
    margin-bottom: 0.5em;
}

h2 {
    margin-bottom: 1em;
    margin-top: 1em;
}

.logo {
    width: 45px;
    height: 48px;
}

.top-words {
    color: #fff;
    font-family: 'DM Sans', sans-serif;
}

.balance {
    font-size: 1.5em;
    font-weight: bold;
}

#spendingSection {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    width: 343px;
    border-radius: 1em;
    padding: 1em 1.5em;
}

.months {
    font-size: 1.2em;
    font-family: 'DM Sans', sans-serif;
    color: #92857A;
}

.bottom-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.thick-brown {
    font-size: 1.7em;
    font-weight: bold;
    font-family: 'DM Sans', sans-serif;
    color: #382314;
}

.percent {
    color: #382314;
    font-weight: bold;
    text-align: right;
    font-size: 1.2em;
    font-family: 'DM Sans', sans-serif;
}